<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
        <title>Detalhes dos Processos</title>
</head>
<body>
<h1> Detalhes do Processo </h1>
<h2> Numero do Processo: {{processo.numero}} </h2>
<h2> Funcionario que fez o processo: {{processo.funcionario}} </h2>

<h2> Interessados no processo: {{processo.intere}} </h2>
<h2> Investigados do processo: {{processo.inves}} </h2>
<h2> Data da Criação do processo: {{processo.criacao}} </h2>
<h2> Departamento que está o processo: {{processo.departamento}} </h2>

</body>
</html>